version: "3.8"

services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  auth-service:
    build: ./auth-service
    ports:
      - "4001:4001"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/taskmanager

  task-service:
    build: ./task-service
    ports:
      - "4002:4002"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/taskmanager

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - auth-service
      - task-service

volumes:
  mongo-data:
